body{
    margin: 0;
}
.row{
    margin-top: 10px;
    margin: 0 40px 20px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
}
.row .col-md-4 {
    flex: auto;
    max-width: 100%;
}
.row .col-12, .mb-2, .col-md-4{ 
    margin-top: 20px;
    gap: 26px;
    place-content: center;
        
}
.row .card-img-top{ 
    padding: 10px 10px;
}
.table {
    width: 80%;
    margin-left: 110px;
}
